!!! 5 
%html{:lang => "es"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}

    %link{:rel => "stylesheet", :href => "/css/style.css"}
    %link{:rel => "stylesheet", :href => "/css/controls.css"}

    

    %title Pasajero Civico

  %body
    %h1 Pasajero Civico
    %section{:id =>"main-content"}
      =yield
    %script{:src  => "/js/libs/jquery-1.7.1.js"}
    %script{:src  => "/js/libs/modestmaps.js"}
    %script{:src  => "/js/libs/wax.mm.js"}
    %script{:src  => "/js/app.js"}
